server_id: 1
server_port: 9988
server_admin_port: 8998
server_transaction_port: 8999
server_host: 192.168.191.86
warmup_time: 15
syncer_dir: .syncer/
# Comments are allowed
other_servers_ip:
- 2 192.168.191.45 9988 8998 8999 
